<li>
    <a href="https://www.linkedin.com/in/kevin-bigelow-2a9ab46b/" target="_blank" class="icon-link--linkedin">
        <i class="uk-icon-large uk-icon-linkedin"></i>
    </a>
</li>
<!--
<li>
    <a href="" class="icon-link--dribbble">
        <i class="uk-icon-large uk-icon-dribbble"></i>
    </a>
</li>
-->
<li>
    <a href="https://github.com/KevinBigelow" target="_blank" class="icon-link--github">
        <i class="uk-icon-large uk-icon-github"></i>
    </a>
</li>
<span class="uk-clearfix"></span>
