<section class="contact-section uk-container uk-container-center">
    <a id="contact-form-section"></a>
    <div class="uk-grid uk-grid-medium">
        <div class="contact-section--content uk-width-1-1 uk-width-medium-1-2" data-uk-scrollspy="{cls:'uk-animation-fade'}">
            <div class="contact-section--title">
                <h3>Contact Me</h3>
                <p>Utilize my design and code expertise on your next project.</p>
                <p>Shoot me a message to get stated</p>
            </div>
            <ul class="icons icons-left uk-hidden-small">
                {% include _social-icons.html %}
            </ul>
        </div>
        <div class="contact-form-wrap uk-width-1-1 uk-width-medium-1-2">
            <form id="contact-form" class="uk-form uk-form-stacked kb-form uk-clearfix" data-uk-scrollspy="{cls:'uk-animation-slide-bottom'}">
                <label for="form-name" class="uk-form-label kb-form-label">Your Name</label>
                <div class="uk-form-controls">
                    <input type="text" id="form-name" name="name">
                </div>
                <label for="form-email" class="uk-form-label kb-form-label">Your Email</label>
                <div class="uk-form-controls">
                    <input type="email" id="form-email" name="_replyto">
                </div>
                <label for="form-message" class="uk-form-label kb-form-label">Message</label>
                <div class="uk-form-controls">
                    <textarea type="text" id="form-message" name="message"></textarea>
                </div>
                <input type="text" name="_gotcha" style="display:none" />
                <input type="submit" value="Send Message" class="button button-fill-blue button-grow uk-button uk-float-right"/>
<!--                 <a type="submit" class="button button-fill-blue button-grow uk-button uk-float-right">Send Message</a> -->
            </form>
        </div>
        <div class="uk-width-1-1 uk-visible-small margin-top-small margin-bottom-small">
            <ul class="icons">
                {% include _social-icons.html %}
            </ul>
        </div>
    </div>
</section>
