<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">

    <!-- Load Fonts -->
    <script src="https://use.fontawesome.com/8dcf4de00e.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">

    <!-- JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{{ "/js/libs/uikit.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/core/formspree.js" | prepend: site.baseurl }}"></script>

</head>
