<div class="uk-container uk-container-center no-padding">
    <div class="uk-grid no-margin">
        <div class="uk-width-1-1 uk-width-medium-1-2 site-heading">
            <span class="site-title">{{ site.myname }}</span>
            <p class="site-subtitle">{{ site.jobtitle }}</p>
        </div>
        
        <div class="uk-width-1-1 uk-width-medium-1-2 site-nav uk-clearfix">
            <a class="nav-link" href="{{ site.baseurl }}">Portfolio</a>
            <a class="nav-link">About</a>
            <a class="nav-link nav-button">Contact</a>
        </div>
    </div>
</div>
