<div style="background: #f4372e; margin: 40px -30px; padding: 30px;">
    <div class="uk-grid uk-grid-small">
        <h3 class="uk-width-1-1">Hey Look, more projects!</h3>
        <div class="uk-width-1-1 uk-width-medium-1-2">
            <div style="background: #fff; height: 300px;">
                Project Card
            </div>
        </div>
        <div class="uk-width-1-1 uk-width-medium-1-2">
            <div style="background: #fff; height: 300px;">
                Project Card
            </div>
        </div>
        <a class="button button-outline">View All Projects</a>
    </div>
</div>
