<section class="more-projects">
    <div class="uk-container uk-container-center">
        <div class="uk-grid uk-grid-small">
            <h3 class="uk-width-1-1">Similar Projects</h3>
            <p class="uk-width-1-1">If you like the Neutron Wings project, you’ll absolutely love these projects.</p>
            <div class="uk-width-1-1 uk-width-medium-1-2">
                <div style="background: #fff; height: 300px;">
                    Project Card
                </div>
            </div>
            <div class="uk-width-1-1 uk-width-medium-1-2">
                <div style="background: #fff; height: 300px;">
                    Project Card
                </div>
            </div>
            <a class="button button-outline">View All Projects</a>
        </div>
    </div>
</section>
