<section class="more-projects">
    <div class="uk-container uk-container-center">
        <div class="project-card-container uk-grid uk-grid-medium">
            <h3 class="uk-width-1-1">Similar Projects</h3>
            <p class="uk-width-1-1">If you like the Neutron Wings project, you’ll absolutely love these projects.</p>
            <div class="uk-width-1-1 uk-width-medium-1-2">
                <div class="project-card">
                    <a class="project-card--img uk-cover" href="{{ site.baseurl }}/aboutme">
                        <img src="{{ site.baseurl }}/img/project-card-touchpoint-1.jpg" class="uk-cover-object"/>
                    </a>
                    <div class="project-card--bottom">
                        <div class='project-card--title'>
                            <span>Web Design</span>
                            <h4>Touchpoint Solar</h4>
                        </div>
                        <a href="" class="button button-fill-red button-icon uk-button project-card--button"><i class="fa fa-eye fa-2x"></i></a>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-1 uk-width-medium-1-2">
                <div class="project-card">
                    <a class="project-card--img uk-cover" href="{{ site.baseurl }}/aboutme">
                        <img src="{{ site.baseurl }}/img/project-card-touchpoint-1.jpg" class="uk-cover-object"/>
                    </a>
                    <div class="project-card--bottom">
                        <div class='project-card--title'>
                            <span>Web Design</span>
                            <h4>Touchpoint Solar</h4>
                        </div>
                        <a href="" class="button button-fill-red button-icon uk-button project-card--button"><i class="fa fa-eye fa-2x"></i></a>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-1">
                <a class="button button-fill-blue-dark button-medium button-grow uk-button uk-align-center margin-top-small">View All Projects</a>
            </div>
        </div>
    </div>
</section>
