---
layout: base
title:  "Neutron Wings"
date:   2016-11-30 21:25:53 -0700
categories: ['Graphic Design', 'Frontend Development']
---

<section class="project-heading">
    <div class="project-heading--top-bar uk-flex uk-flex-space-between">
        <p class="indicator">Project</p>
        <span class="subdue"><i class="uk-icon-calendar"></i> June 2016</span>
    </div>
    <div class="project-heading--main">
        <div class="project-heading--main-text">
            <h1>{{ page.title }}</h1>
            <h2>{{ page.categories | join: ' • ' }}</h2>
        </div>
        <div class="project-heading--main-tools uk-panel kb-panel-small mobile-width-full">
            <h5 class="uk-panel-title text-center">Some Tools I Used</h4>
            <ul class="icons uk-text-center">
                <li><i class="uk-icon-medium uk-icon-html5"></i></li>
            </ul>
        </div>
    </div>
</section>

<div class="kb-panel-layers uk-grid uk-grid-collapse">
    <div class="kb-panel-layer-img uk-width-small-1-1 uk-width-medium-1-1 uk-width-large-1-2 uk-cover uk-scrollspy-init-inview uk-scrollspy-inview" data-uk-scrollspy="{cls:'uk-animation-slide-left'}">
        <img src="{{site.baseurl}}/img/project-nw-1-lg.jpg" class="uk-cover-object"/>
    </div>
    <div class="uk-panel kb-panel-box kb-panel-layer-text uk-width-small-1-1 uk-width-medium-1-1 uk-width-large-1-2 uk-scrollspy-init-inview uk-scrollspy-inview" data-uk-scrollspy="{cls:'uk-animation-slide-right'}">
        <h4 class="uk-panel-title">Design Context</h4>
        <p>At Neuton, the culture is all about personal growth and development, building awesome things, and aiming high.</p> 
        <p>I designed these stickers for Neutron on an impulse,  due to recent fascination with cool stickers.</p>
    </div>
</div>

{% include more-projects.html %}
{% include contact-me.html %}
