$gray-standard: #eaeaea;

$bg-default: #f4f6f7;
$bg-secondary: #eaeaea;
$border-gray-default: #eaeaea;


// Site Wide

body, html {
    background: $bg-default;
    font-size: 16px;
}

// Header

header {
    background: url('/img/bg-dark.jpg') #262626;
}

.site-heading {
    padding: 15px $base-width-padding-mobile;
}

.site-title, .site-subtitle {
    color: #ffffff;
    text-align: left;
    display: block;
    width: 100%;
}

.site-title {
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 18px;
    font-weight: 400;
    margin: 0;
}

.site-subtitle {
    font-size: 21px;
    line-height: 23px;
    font-weight: 100;
    margin: 5px 0 0;
}

.site-nav {
    padding: 0;
    background: #1c62a4;
    background: #2a4865;
    @include flex();
    justify-content: space-between;
}

.nav-link {
    color: #ffffff;
    padding: 9px 0 11px;
    text-align: center;
    letter-spacing: 1.5px;
    flex-grow: 1;
    font-weight: 100;
    &:not(:first-of-type) {
        border-left: 1px solid rgba(0,0,0,.125);
    }
}

// Content

.content {
    padding: 30px 0 10px;
}


// Section Split

/*
.section-split {
    padding-top: 0;
    padding-bottom: 35px;
}

.section-split-title {
    text-align: center;
    h3 {
        margin-bottom: 6px;
    }
}

.section-split-content {
    width: 270px;
    display: block;
    margin: 30px auto 0;
}
*/


ul.icons {
    padding-left: 0;
    list-style: none;
    margin-top: 0;
    li {
        float: left;
        margin-right: 10px;
    }
    a {
        display: block;
        padding-top: 3px;
        @include transition(.25s, all, ease-in-out);
    }
    a:hover {
        padding-top: 0;
    }
}

.icon-link--linkedin {
    color: #0077b5;
    &:hover {
        color: #0a90d6;
    }
}

.icon-link--dribbble {
    color: #ea4c89;
    &:hover {
        color: #ff6aa3;
    }
}

.icon-link--github {
    color: #1e2327;
    &:hover {
        color: #343c42;
    }
}

.uk-icon-html5 {
    color: #e44d26;
}


@media screen and (min-width: $breakpoint-small) {
    
    
}

@media screen and (min-width: $breakpoint-medium) {
    
    .content {
        padding-top: 50px;
    }
    
    // Header
    
    header {
        padding: 25px;
    }
    
    .site-heading {
        padding: 0;
    }
    
    .site-title {
        font-size: 28px;
        line-height: 30px;
    }
    
    .site-subtitle {
        font-size: 24px;
        line-height: 26px;
    }
    
    .site-nav {
        padding: 0;
        background: none;
        align-items: center;
        justify-content: flex-end;
    }
    
    .nav-link {
        font-size: 18px;
        flex-grow: 0;
        height: auto;
        padding: 15px;
        transition: border-color .25s;
        border-bottom: 2px solid rgba(255,255,255,0);
        border-top: 2px solid rgba(255,255,255,0);
        &:not(:first-of-type) {
            border-left: none;   
        }
        &:last-of-type {
//             padding-right: 0;
        }
        &:hover {
//             padding-bottom: 18px;
            color: #ffffff;
            text-decoration: none;
            border-color: rgba(255,255,255,1);
        }
    }
    
    
    // Section Split
    
/*
    .section-split {
        padding-top: 30px;
        padding-bottom: 55px;
    }
    
    .section-split-title {
        text-align: right;
        border-right: 1px solid $border-gray-default;
        padding-right: 25px;
        h3 {
            margin: 65px 0 10px;
        }
    }
    
    .section-split-content {
        margin: 0;
    }
*/
}

@media screen and (min-width: $breakpoint-large) {

}
@media screen and (min-width: $breakpoint-xlarge) {

}
