@mixin flex() {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

@mixin transition($property, $duration, $ease) {
    -webkit-transition: $property $duration;
    -moz-transition: $property $duration $ease;
    -ms-transition: $property $duration $ease; /* IE10 is actually unprefixed */
    -o-transition: $property $duration $ease;
    transition: $property $duration $ease;
}
