.more-projects {
    background: #f4372e;
    margin: 40px -10px;
    padding: 20px;
}

@media screen and (min-width: $breakpoint-small) {
    .more-projects {
        margin: 40px -30px;
        padding: 30px;
    }
}
