.project-heading {
    margin-bottom: 0;
    h1 {
        margin-bottom: 6px;
    }
    * + h2 {
        margin: 0 0 8px;
    }
}

/*
.project-heading--top-bar {
    margin-bottom: 15px;
}
*/

.project-heading--main {
    @include flex();
    flex-direction: column;
}

.project-heading--main-text {
    margin-bottom: 35px;
    padding: 0 25px;
}

.project-heading--main-tools {
    height: 60px
}

@media screen and (min-width: $breakpoint-small) {


}

@media screen and (min-width: $breakpoint-medium) {
    .project-heading {
        padding: 0 25px;
        margin-bottom: 95px;
        h1 {
            margin-bottom: 11px;
        }
    }
/*
    .project-heading--top-bar {
        margin-bottom: 40px;
    }
*/
    .project-heading--main {
        flex-direction: row;
        justify-content: space-between;
    }
    .project-heading--main-text {
        margin-bottom: 0;
        margin-right: 10px;
        width: auto;
        padding: 0;
    }
    .project-heading--main-tools {
        width: 170px;
    }
    
}

@media screen and (min-width: $breakpoint-large) {
    .project-heading--main-text {
        padding: 0;
    }
}

@media screen and (min-width: $breakpoint-xlarge) {
    .project-heading {
        padding: 0;
    }
}
