$gray-standard: #eaeaea;

$bg-secondary: #eaeaea;
$border-gray-default: #eaeaea;


// Site Wide

body, html {
    background: $bg-secondary;
}
header {
    display: block;
    background: #000;
    height: 123px;
    background: url('/img/bg-dark.jpg') #262626;
    .inner {
        padding: 20px 10px;
    }
    .actions {
        padding: 0 10px;
        display: block;
        margin: 0 auto;
        max-width: 300px;        
        .button {
            width: 50%;
            float: left;
            &:first-of-type {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
            &:last-of-type {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }
}
.site-title, .site-subtitle {
    color: #ffffff;
    text-align: center;
    display: block;
    width: 100%;
}
.site-title {
    font-size: 37px;
    line-height: 36px;
    font-weight: 100;
    margin: 0;
}
.site-subtitle {
    font-size: 20px;
    line-height: 23px;
    font-weight: 400;
    margin: 5px 0 0;
}
.content {
    padding: 50px 10px 10px;
    max-width: 1030px;
    background: #f4f6f7;
//     Poosibly want this for scrollspy animations from left, butt causes issues with header action overlap on mobile
//     overflow-x: hidden;
}


// Section Split

.section-split {
    padding-top: 0;
    padding-bottom: 35px;
}
.section-split-title {
    text-align: center;
    h3 {
        margin-bottom: 6px;
    }
}
.section-split-content {
    width: 270px;
    display: block;
    margin: 30px auto 0;
}


ul.icons {
    padding-left: 0;
    list-style: none;
    margin-top: 0;
}
.uk-icon-html5 {
    color: #e44d26;
}


@media screen and (min-width: $breakpoint-small) {
    
    // Site Wide
    
    main {
        width: calc(100% - 150px);
        margin-left: 150px;
    }
    header {
        width: 150px;
        height: 100vh;
        min-height: 400px;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        .inner {
            padding: 15px;
            margin-top: 30px;
        }
        .actions {
            padding: 0 15px;
            margin: 0;
            max-width: none;
            .button {
                width: 100%;
                &:first-of-type {
                    border-top-right-radius: 22px;
                    border-bottom-right-radius: 22px;
                }
                &:last-of-type {
                    border-top-left-radius: 22px;
                    border-bottom-left-radius: 22px;
                }
                &:not(:last-child) {
                    margin-bottom: 8px;
                }
            }
        }
       
        .button {
            width: 50%;
            float: left;
            &:first-of-type {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
            &:last-of-type {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }
    .site-title, .site-subtitle {
        text-align: left;
    }
    .site-subtitle {
        margin: 8px 0 0;
    }
    .content {
        padding: 15px 30px 20px;
    }
}
@media screen and (min-width: $breakpoint-medium) {
    
    // Site Wide
    
    main {
        width: calc(100% - 205px);
        margin-left: 205px;
    }
    
    header {
        width: 205px;
        min-height: 400px;
        .inner {
            padding: 25px;
            margin-top: 30px;
        }
        .actions {
            padding: 0 25px;
        }
    }
    .site-title {
        font-size: 45px;
        line-height: 41px;
    }
    .site-subtitle {
        font-size: 23px;
        line-height: 25px;
        margin: 25px 0 0;
    }
    
    
    // Section Split
    
    .section-split {
        padding-top: 30px;
        padding-bottom: 55px;
    }
    .section-split-title {
        text-align: right;
        border-right: 1px solid $border-gray-default;
        padding-right: 25px;
        h3 {
            margin: 65px 0 10px;
        }
    }
    .section-split-content {
        margin: 0;
    }
}

@media screen and (min-width: $breakpoint-large) {

}
@media screen and (min-width: $breakpoint-xlarge) {

}
