$gray-standard: #eaeaea;

$bg-default: #f4f6f7;
$bg-secondary: #eaeaea;
$border-gray-default: #eaeaea;


// Site Wide

body, html {
    background: $bg-default;
    font-size: 16px;
}

// Header

header {
//     background: url('/img/bg-dark.jpg') #262626;
}

.header-small {
    padding: 20px 25px 0px;
    .site-title {
        font-size: 30px;
        line-height: 30px;      
    }
    .site-subtitle {
        font-size: 14px;
        letter-spacing: 3.9px;
        margin-left: 0;
    }
    .site-nav {
        flex-direction: row;
    }
    .site-heading {
        margin-bottom: 20px;
    }
}

.header-large {
    padding: 60px 25px 100px;
    .site-title {
        font-size: 45px;
        line-height: 45px;        
    }
    .site-subtitle {
        font-size: 14px;
        letter-spacing: 3.9px;
    }
}

.header-white {
    background: $bg-default;
    .site-title {
        color: #1c62a4;
    }
    .site-subtitle {
        color: #333333;
    }
    .nav-link {
        color: #1c62a4;
        background: #eceff3;
        &:hover {
            color: #eceff3;
            background: #1c62a4;
        }
    }
}

.header-blue {
    position: relative;
    background: #1c62a4;
    margin-bottom: 50px;
    .site-title, .site-subtitle {
        color: $white;
    }
    &:after {
        content: '';
        background-image: url(../img/wave-bottom.svg);
        position: absolute;
        bottom: -120px;
        left: 0;
        right: 0;
        height: 60px;
        transform: translateY(-100%);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center bottom;
    }
}

.site-heading {
    padding: 0;
    margin-bottom: 40px;
}

.site-title, .site-subtitle {
    text-align: center;
    display: block;
}

.site-title {
    font-weight: 100;
    margin: 0;
}

.site-subtitle {
    font-weight: 700;
    margin: 5px 0 0 3px;
    text-transform: uppercase;
}

.site-nav {
    padding: 0;
    @include flex();
    justify-content: space-between;
    flex-direction: column;
}

.nav-link {
    padding: 9px 0 11px;
    text-align: center;
    text-decoration: none;
    flex-grow: 1;
    font-weight: 400;
    border-radius: 18px;
    transition: background .25s, color .25s;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 10px;
    &:hover {
        text-decoration: none;
    }
}

// Content

.content {
    padding: 30px 0 10px;
}


// Section Split

/*
.section-split {
    padding-top: 0;
    padding-bottom: 35px;
}

.section-split-title {
    text-align: center;
    h3 {
        margin-bottom: 6px;
    }
}

.section-split-content {
    width: 270px;
    display: block;
    margin: 30px auto 0;
}
*/


ul.icons {
    padding-left: 0;
    list-style: none;
    margin-top: 0;
    @include flex();
    justify-content: center;
    li {
        margin-right: 10px;
    }
    a {
        display: block;
        padding-top: 3px;
        @include transition(.25s, all, ease-in-out);
    }
    a:hover {
        padding-top: 0;
    }
}

.icon-link--linkedin {
    color: #0077b5;
    &:hover {
        color: #0a90d6;
    }
}

.icon-link--dribbble {
    color: #ea4c89;
    &:hover {
        color: #ff6aa3;
    }
}

.icon-link--github {
    color: #1e2327;
    &:hover {
        color: #343c42;
    }
}

.uk-icon-html5 {
    color: #e44d26;
}


@media screen and (min-width: $breakpoint-small) {
    
    .site-nav {
        flex-direction: row;
    }
    
    .nav-link {
        margin-bottom: 0;        
        &:not(:first-of-type) {
            margin-left: 13px;
        }
    }

    .header-large {
        padding: 100px 25px 160px;
        .site-title {
            font-size: 59px;
            line-height: 60px;
            
        }
        .site-subtitle {
            font-size: 16px;
            letter-spacing: 6.4px;
        }
    }
    
}

@media screen and (min-width: $breakpoint-medium) {
    
    .content {
        padding-top: 50px;
    }
    
    // Header
    
    .site-heading {
        padding: 0;
        margin: 0;
    }
    
    .site-title, .site-subtitle {
        text-align: left;
    }
    
    .header-small {
        .site-title {
            font-size: 45px;
            line-height: 45px;        
        }
        .site-subtitle {
            margin-left: 3px;
        }
    }
    
    .header-large {
        padding: 100px 25px 180px;
    }
    
/*
    .site-title {
        font-size: 28px;
        line-height: 30px;
    }
    
    .site-subtitle {
        font-size: 24px;
        line-height: 26px;
    }
*/

    .nav-link {
        max-width: 160px;
    }
    
    .site-nav {
        padding: 0;
        background: none;
        align-items: center;
        justify-content: flex-end;
    }
    
    ul.icons-left {
        justify-content: flex-start;
    }

    // Section Split
    
/*
    .section-split {
        padding-top: 30px;
        padding-bottom: 55px;
    }
    
    .section-split-title {
        text-align: right;
        border-right: 1px solid $border-gray-default;
        padding-right: 25px;
        h3 {
            margin: 65px 0 10px;
        }
    }
    
    .section-split-content {
        margin: 0;
    }
*/
}

@media screen and (min-width: $breakpoint-large) {
    
    .header-blue {
        &:after {
            bottom: -220px;
            height: 133px;
        }
    }
}
@media screen and (min-width: $breakpoint-xlarge) {
    
    .header-large {
        padding: 100px 25px 200px;
    }
}
