.button {
    border-radius: 22px;
    height: 42px;
    line-height: 37px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: .4px;
    padding: 0 40px;
    color: #ffffff;
    @include transition(all, .25s, ease-in);
    &:hover {
        color: #ffffff;
    }
}

.button-grow {
    letter-spacing: .4px;
    &:hover {
        letter-spacing: .8px;
    }
}

.button-icon {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    text-align: center;
    padding: 0;
    line-height: 60px;
}

.button-small {
    padding: 0 25px;
}

.button-medium {
    max-width: 250px;
}

.button-fill-red {
//     box-shadow: 0 3px 1px 0 #7a1f1b;
    background: #f4372e; /* For browsers that do not support gradients */
//     background: -webkit-linear-gradient(#ee4731, #f4372e); /* For Safari 5.1 to 6.0 */
//     background: -o-linear-gradient(#ee4731, #f4372e); /* For Opera 11.1 to 12.0 */
//     background: -moz-linear-gradient(#ee4731, #f4372e); /* For Firefox 3.6 to 15 */
//     background: linear-gradient(#ee4731, #f4372e); /* Standard syntax */
    &:hover {
        box-shadow: 0 3px 11px 0 rgba(211, 79, 39, 0.5);
        background: #ee4731;
        color: #ffffff;
    }
}

.button-fill-blue {
    box-shadow: none;
    background: #2774d3;
//     background: -webkit-linear-gradient(#2d86f4, #2774d3); /* For Safari 5.1 to 6.0 */
//     background: -o-linear-gradient(#2d86f4, #2774d3); /* For Opera 11.1 to 12.0 */
//     background: -moz-linear-gradient(#2d86f4, #2774d3); /* For Firefox 3.6 to 15 */
//     background: linear-gradient(#2d86f4, #2774d3); /* Standard syntax */
    &:hover {
        box-shadow: 0 3px 11px 0 rgba(39, 116, 211, 0.5);
        text-shadow:  0 3px 11px #2774d3;
        background: #2d86f4; 
    }
}

.button-fill-blue-light {
    color: #1c62a4;
    background: #eceff3;
    &:hover {
        box-shadow: 0 3px 11px 0 rgba(39, 116, 211, 0.5);
        text-shadow: 0 3px 11px #2774d3;
        background: #2d86f4;
    }
}

.button-fill-blue-dark {
    background: #18538c;
    &:hover {
        background: #144677;
    }
}
