.project-card {
    box-shadow: 0 0 15px rgba(0, 0, 0, .4);
    border-radius: 5px 5px 10px 10px;
    overflow: hidden;
    padding: 0;
    margin-bottom: 25px;
}

.project-card--img {
    height: 340px;
    display: block;
}

.project-card--bottom {
    background: $white;
    position: relative;
}

.project-card--title {
    position: relative;
    span {
        font-size: 14px;
        font-style: italic;
        color: $text-subdued;
        display: block;
        width: 100%;
        padding: 5px 60px 6px 15px;
        box-sizing: border-box;
        background-image: linear-gradient(to right, #f8f8f8, #f8f8f8, #ffffff);
    }
    h4 {
        font-size: 19px;
        font-weight: 700;
        padding: 14px 60px 24px 15px;
        margin: 0;
    }
}

.project-card--button {
    margin: 0;
    position: absolute;
    right: 15px;
    top: 48%;
    transform: translate(0, -50%);
}
