.project-card-container {
    // Must be nested in this way to override margin applied to uk-grid > * > :last-child
    .project-card {
        margin-bottom: 25px;
    }
}

.project-card {
    box-shadow: 0 0 15px rgba(0, 0, 0, .125);
    border-radius: 5px 5px 10px 10px;
    overflow: hidden;
    padding: 0;
    max-width: 552.5px;
    margin: 0 auto 25px;
}

.project-card--img {
    height: 230px;
    display: block;
    margin: 0 auto;
    img {
        transition: min-width .25s, min-height .25s;
        cursor: pointer;
        &:hover {
            min-width: 110%;
            min-height: 110%;
        }   
    }
}

.project-card--bottom {
    background: $white;
    position: relative;
}

.project-card--title {
    position: relative;
    span {
        font-size: 14px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $text-subdued;
        display: block;
        width: 100%;
        padding: 5px 15px 11px;
        box-sizing: border-box;
        background-image: linear-gradient(to right, #f8f8f8, #f8f8f8, #ffffff);
    }
    h4 {
        font-size: 19px;
        font-weight: 700;
        padding: 12px 15px 10px;
        margin: 0;
        text-align: center;
    }
}

.project-card--button {
    margin: 0;
    position: absolute;
    right: 15px;
    top: 48%;
    transform: translate(0, -50%);
}

@media screen and (min-width: $breakpoint-small) {
    .project-card--img {
        height: 340px;
    }
    .project-card--title {
        h4 {
            font-size: 24px;
        }
    }
}

@media screen and (min-width: $breakpoint-medium) {
    .project-card--img {
        height: 230px;
    }
    .project-card--title {
        h4 {
            font-size: 19px;
        }
    }
}

@media screen and (min-width: $breakpoint-large) {
    .project-card--img {
        height: 340px;
    }
    .project-card--title {
        h4 {
            font-size: 24px;
        }
    }
}
