.more-projects {
    background: #1c62a4;
    margin: 16px 0 60px;
    padding: 20px 0;
    position: relative;
    width: 100vw;
    h3, p {
        text-align: center;
        color: #ffffff;
    }
    h3 {
        font-size: 40px;
    }
    p {
        font-weight: 100;
        margin: 10px 0 40px;
    }
    &:before {
        content: '';
        background-image: url(../img/wave-top.svg);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 60px;
        transform: translateY(-100%);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center bottom;
    }
    &:after {
        content: '';
        background-image: url(../img/wave-bottom.svg);
        position: absolute;
        bottom: -120px;
        left: 0;
        right: 0;
        height: 60px;
        transform: translateY(-100%);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center bottom;
    }
}

@media screen and (min-width: $breakpoint-small) {
    .more-projects {
        padding: 30px 0 50px;
        h3 {
            font-size: 45px;
        }
    }
}

@media screen and (min-width: $breakpoint-medium) {
    .more-projects {

    }
}

@media screen and (min-width: $breakpoint-large) {
    .more-projects {
        margin: 120px 0 60px;
    }
}

@media screen and (min-width: $breakpoint-xlarge) {
    .more-projects {
        margin-top: 160px;
        &:before {
            top: 20px;
            height: 120px;
        }
        &:after {
            bottom: -220px;
            height: 133px;
        }
    }
}
