.more-projects {
    background: #1c62a4;
    margin-top: 100px;
    padding: 20px 0;
    position: relative;
    width: 100vw;
    h3, p {
        text-align: center;
        color: #ffffff;
    }
    h3 {
        margin-top: 40px;
        font-size: 40px;
    }
    p {
        font-weight: 100;
        margin: 10px 0 40px;
    }
}

@media screen and (min-width: $breakpoint-small) {
    .more-projects {
        padding: 30px 0 50px;
        h3 {
            font-size: 45px;
        }
    }
}

@media screen and (min-width: $breakpoint-large) {

}
