body {
    background: #f4f6f7;
}
header {
    display: block;
    background: #000;
    height: 123px;
    margin-bottom: 50px;
    background: url('/img/bg-dark.jpg') #262626;
    .inner {
        padding: 10px;
    }
    .actions {
        padding: 0 25px;
        
        a {
            
        }
    }
}
.site-title, .site-subtitle {
    color: #ffffff;
    text-align: center;
    display: block;
    width: 100%;
}
.site-title {
    font-size: 45px;
    line-height: 41px;
    font-weight: 100;
    margin: 0;
}
.site-subtitle {
    font-size: 23px;
    line-height: 25px;
    font-weight: 400;
    margin: 5px 0 0;
}
.content {
    padding: 10px;
}
ul.icons {
    padding-left: 0;
    list-style: none;
}


@media screen and (min-width: $breakpoint-small) {
    main {
        width: calc(100% - 150px);
        margin-left: 150px;
    }
    header {
        width: 150px;
        height: 100vh;
        min-height: 400px;
        margin-bottom: 0;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        .inner {
            padding: 15px;
            margin-top: 30px;
        }
        .actions {
            padding: 0 15px;
            
            a {
                width: 100%;
                &:not(:last-child) {
                    margin-bottom: 5px;
                }
            }
        }
    }
    .site-title, .site-subtitle {
        text-align: left;
    }
    .site-title {
        font-size: 37px;
        line-height: 36px;
    }
    .site-subtitle {
        font-size: 20px;
        line-height: 23px;
        margin: 8px 0 0;
    }
    .content {
        padding: 15px 30px 20px;
    }
}
@media screen and (min-width: $breakpoint-medium) {
    main {
        width: calc(100% - 205px);
        margin-left: 205px;
    }
    header {
        width: 205px;
        min-height: 400px;
        .inner {
            padding: 25px;
            margin-top: 30px;
        }
        .actions {
            padding: 0 25px;
        }
    }
    .site-title {
        font-size: 45px;
        line-height: 41px;
    }
    .site-subtitle {
        font-size: 23px;
        line-height: 25px;
        margin: 25px 0 0;
    }
}
@media screen and (min-width: $breakpoint-large) {

}
@media screen and (min-width: $breakpoint-xlarge) {

}
