.uk-panel {
    background: #ffffff;
}

.uk-panel-title {
    font-weight: 700;
}

.panel-small {
    padding: 15px;
}

.panel-title-small {
    margin-bottom: 10px;
    line-height: 16px;
    font-size: 14px;
}

.panel-mobile-width-full {
    margin-left: -10px;
    margin-right: -10px;
}



@media screen and (min-width: $breakpoint-small) and (max-width: $breakpoint-medium) {
    .panel-mobile-width-full {
        margin-left: -30px;
        width: calc(100% + 30px);
    }
}
