@import "vendor/uikit/uikit-variables.scss";

$text-subdued: #6a6a6a;
$text-default: #040404;


body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, span {
    font-family: 'Roboto', Helvetica, Verdana, sans-serif;
    color: $text-default;
}

h1 {
    font-size: 36px;
    line-height: 40px;
    font-weight: 100;
    color: $text-subdued;
}

h2 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

h3 {
    font-size: 35px;
    line-height: 39px;
    font-weight: 100;
    color: $text-subdued;
}

h4 {
    
}

h5 {
    
}

p {
    font-size: 16px;
    line-height: 22px;
}

.subdue {
    color: $text-subdued;
}

.indicator {
    font-weight: 400;
    border-bottom: 4px solid #000000;
}

.text-center {
    text-align: center;
}


@media screen and (min-width: $breakpoint-small) {

}

@media screen and (min-width: $breakpoint-medium) {
    h1 {
        font-size: 50px;
        line-height: 52px;
        color: $text-subdued;
    }
    
    h2 {
        font-size: 20px;
        line-height: 24px;
    }
    
    h3 {
        font-size: 45px;
        line-height: 49px;
    }
}

@media screen and (min-width: $breakpoint-large) {

}

@media screen and (min-width: $breakpoint-xlarge) {

}
