<!DOCTYPE html>
<html lang="en">

    {% include head.html %}

    <body>
        <header class="header-small header-blue">
            <div class="uk-container uk-container-center no-padding">
                <div class="uk-grid no-margin">
                    <div class="uk-width-1-1 uk-width-medium-1-2 site-heading">
                        <span class="site-title">{{ site.myname }}</span>
                        <p class="site-subtitle">{{ site.jobtitle }}</p>
                    </div>
                    
                    <div class="uk-width-1-1 uk-width-medium-1-2 site-nav uk-clearfix">
                        <a href="{{ site.url }}/{{site.baseurl }}#portfolio-begin" class="nav-link button button-shorter button-grow button-fill-blue-dark">Portfolio</a>
                        <a href="#contact-form" class="nav-link button button-shorter button-grow button-fill-blue-dark" data-uk-smooth-scroll>Contact</a>
                    </div>
                </div>
            </div>
        </header>


        {{ content }}
        
        {% include contact-me.html %}

        {% include footer.html %}
    </body>
    
</html>
